html {
  min-height: 100%;
  background: #16a085;
background: -moz-linear-gradient(45deg, #16a085 0%, #f4d03f 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, #16a085), color-stop(100%, #f4d03f));
background: -webkit-linear-gradient(45deg, #16a085 0%, #f4d03f 100%);
background: -o-linear-gradient(45deg, #16a085 0%, #f4d03f 100%);
background: -ms-linear-gradient(45deg, #16a085 0%, #f4d03f 100%);
background: linear-gradient(45deg, #16a085 0%, #f4d03f 100%);
}

.link-text {
  text-decoration: underline;
  color: #fff;
}

.text-sm {
  font-size: 1em;
}



.title {
  font-family: 'Lobster Two', cursive;
  color: #fff;
  text-align: center;
  font-size: 4em;
  margin: 20px;
}

.subtitle {
  font-family: 'Lobster Two', cursive;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
}


p {
  font-family: 'Cabin', sans-serif;
  color: #fff;
  font-size: 1.4em;
  margin: 20px;
}

.columns {
  margin-top: 70px;
}


.button {
  background: none;
  color: #fff;
  margin: 30px;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}
